.movie-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 30px;
}

.movie-box {
  display: grid;
  grid-template-columns: 1fr 2fr;
  position: relative;
  background-color: white;
  padding: 15px;
  margin: 1px;
  overflow: hidden;
}

.movie-box:hover {
  background-color: rgb(240, 238, 238);
  cursor: pointer;
}

.rating {
  position: absolute;
  top: 2px;
  left: -20px;
  background-color: orange;
  color: white;
  padding: 3px 50px 3px 30px;
  transform: rotate(-30deg);
}

.poster {
  max-width: 7rem;
  margin: 10px 0px 0px 10px;
  box-shadow: 2px 2px 5px lightgrey;
}

p {
  font-size: small;
  line-height: 0.5rem;
}

.cast-innersection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 5px;
}

.cast-name {
  font-size: 0.8rem;
  font-weight: bolder;
}

.cast-as {
  font-size: 0.7rem;
  color: grey;
  padding-bottom: 10px;
}

h2 {
  color: red;
  font-size: 1.3rem;
}

h3 {
  margin-bottom: 0;
  font-size: 0.9rem;
  color: red;
}

.info {
  margin: 0 10px 20px 20px;
}

.cast {
  padding: 0 10px 0 0;
}

.meta {
  padding-bottom: 1px;
}
