@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  background-color: #e2e3e5;
}

html {
  font-family: "Open Sans", sans-serif;
}

.logo {
  display: inline-block;
  width: auto;
  height: 1em;
  margin-right: 0.3em;
}

h1 {
  text-align: center;
}
